* {
    margin: 0;
    padding:0;
}

body {
    color: #40514E;
    text-align: center;
    font-family: 'Brawler', serif;
}

h1 {
    /*100% = 16px = 1em*/
    font-size: 100px;
    font-family: 'Petit Formal Script', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Brawler', serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-size: 2.5rem;
    font-family: 'Brawler', serif;
    color: #11999E;
    position: center;
}

p {
    line-height: 2;
}

hr {
    border: dotted #d8dfdf 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: 'Brawler', serif;
    margin: 10px 20px;
}

a:hover {
    color: #EAF6F5;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}


.profile-image {
    width: 20%;
    height: auto;
    border-radius: 50%;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    margin-top: 40px;
    padding: 50px 0 20px;
    background-color: #66BFBF;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.education-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.Experience-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skillImage {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.educationImage {
    width: 25%;
    float: right;
    margin-right: 30px;
}

.experienceImage {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.btn {
    box-shadow: 0px 0px 13px -7px #44c7db;
    background: linear-gradient(to bottom, #66BFBF 5%, #66BFBF 100%);
    background-color: #1cb0e6;
    border-radius: 19px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 19px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #43c5f0;
}

.btn:hover {
    background: linear-gradient(to bottom, #17cfeb 5%, #1cb0e6 100%);
    background-color: #17cfeb;
}

.btn:active {
    position: relative;
    top: 1px;
}
